<!doctype HTML>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

<div class="center" style="height:30%">
	<h1> TypeMatch: A dating app for finding the 1 to your 0! </h1>
	<div>
		<div class="head_link"> <a href="login"> Log In </a> </div>
		<div class="vbar"> <3 </div>
		<div class="head_link"> <a href="register"> Register </a> </div>
		<div class="vbar"> <3 </div>
		<div class="head_link"> <a href="/"> <b> About </b></a>  </div>
	</div>
</div>
<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/640px--Insert_image_here-.svg.png" alt="hi">
</center>





