<!doctype HTML>
<link rel="stylesheet" type="text/css" href = {{ url_for("static", filename="anim.css")}} >
<link rel="stylesheet" type="text/css" href = {{ url_for("static", filename="style.css")}} >

<div class="center" style="height:30%">
	<h1> INSERT PITHY HEADING and/or NAME OF PRODUCT HERE </h1>
	<div>
		<div class="head_link"> <a href="profile"> My Profile </a> </div> 
		<div class="vbar"> <3 </div>
		<div class="head_link"> <a href="evaluations">My Evaluations </a> </div> 
		<div class="vbar"> <3 </div>
		<div class="head_link"> <a href="matches"> <b> My Matches </b> </a>  </div> 
		<div class="vbar"> <3 </div>
		<div class="head_link"> <a href="logout"> <em> Log Out </em> </a>  </div> 
	</div>
</div>

<center>

{% if user.numdone() == 3 %}
<br>

<div class="block-effect" style="--td: 1.2s">
<div class="block-reveal" style="--bc:pink; --d: .1s">

<img class="reveal" src="{{'/static/pfps/'+user.username}}"/>
</div>

<div class="block-reveal" style="--bc:hotpink; --d: .5s">
<div class="fancy" style="padding:60px"> {{user.name}} </div>

<p style="font-size:20px">[insert more words heeree blah blah bio blah blah code style statistics]</p>
</div>

<div class="block-reveal" style="--bc:orange; --d: .4s">
<table> 
	<tr> 
		<th>yes </th>
		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<th> no</th>
	</tr>
</table>
</div>
</div>



</center>

{% else %}
no
{% endif %}
