<!doctype HTML>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<h1> Register your account </h1>
<form action="{{ url_for('process_registration') }}" method="post" enctype="multipart/form-data">
name: <input type="text" name="name" size="40" placeholder="Farnam Jahanian" required> <br>
username: <input type="text" name="username" size="40" required> <br>
password: <input type="password" name="pass" size="40" required> <br>
profile photo: <input type="file" name="pfp" required><br>

color: <input type="text" name="f1" required><br>
number: <input type="text" name="f2" required><br>
beep: <input type="text" name="f3" required><br>
boop: <input type="text" name="f4" required><br>
blah: <input type="text" name="f5" required><br>
blue: <input type="text" name="f6" required><br>
blee: <input type="text" name="f7" required><br>

<input type="submit">
</form>
